@import "scssDep/extends";
@import "scssDep/mixins";
@import "scssDep/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  border: none;
  padding: 0;
  background-color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;

  &:visited {
    color: black;
  }
}

i {
  font-weight: 400;
}

.banners,
.secondary-nav,
.brands {
  display: none;
}

.container {
  padding: 0;
}

.banners {
  width: $banners_width;
  height: 140px;
  top: 0;
  left: 0;
  position: absolute;
}

.header {
  height: fit-content;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
}

.fa-search {
  transform: scale(-1, 1);
}

.main-nav {
  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 25px;
  background-color: #f8f8f8;
  z-index: 15;

  .background {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    left: calc(-100vw / 2 + $header-width / 2);
    right: calc(-100vw / 2 + $header-width / 2);
    background-color: #f8f8f8;
    z-index: -1;
  }

  &__item {
    width: 50px;
    min-width: 50px;

    &--desk {
      display: none;
    }

    .fa-bars {
      color: #ff5959;
    }
  }

  &__group {
    display: flex;
    justify-content: center;
    width: fit-content;

    .main-nav-group__item {
      flex: 1;
      min-width: 50px;

      &--search {
        background-color: #bbb8b6;
        color: #fff;
      }

      &--cart {
        flex: 2;
        display: flex;
        min-width: 100px;

        .cart__item {
          min-width: 50px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .cart__item2 {
          background-color: #ff5959;
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
}

.secondary-header {
  padding-top: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

    &__image {
      background-image: url("../../img/logo/logo@276x50.png");
      width: 276px;
      height: 50px;
    }
  }

  .secondary-nav {
    display: none;
    width: 570px;
    height: 100%;
    padding-top: 50px;
    flex-direction: column;

    .secondary-nav__slim {
      min-height: 30px;
      max-height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .secondary-nav__slim-item {
        flex: 1;
        margin-right: 5px;
        display: flex;
        padding-left: 5px;
        gap: 5px;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        color: white;

        i {
          font-size: 25px;
          color: black;
        }

        &--search {
          margin-right: 0;
          padding: 0;
          flex: 2;
          display: flex;
          justify-content: flex-end;
          border: 1px solid #bcb8b5;
          gap: 0;

          .secondary-nav__search-input {
            flex: 1;
            border-width: 0;
            padding-left: 10px;
            position: relative;

            &::placeholder {
              color: #d8dbd9;
              font-size: 15px;
            }

            &:focus {
              outline: none;
            }
          }

          .secondary-nav__search-icon {
            background-color: #bcb8b5;
            width: 49px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              color: white;
              font-size: 20px;
            }
          }
        }

        &--left {
          background-color: #9faa4c;
        }

        &--right {
          background-color: #8e789e;
        }
      }
    }

    .secondary-nav_icons {
      margin-top: 20px;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 5px;

      .secondary-nav__icon {
        height: 100px;
        width: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f2f2f2;

        &--separated {
          position: absolute;
          bottom: 0;
          right: 0;

          background-color: #ff5959;
          h2.secondary-nav__icon-title {
            color: #ff5959;
          }
        }

        .secondary-title__item-image {
          height: 100px;
          width: 100px;
          padding: 10px;

          img {
            height: 80px;
            width: 80px;
          }
        }

        .secondary-nav__icon-title {
          padding-top: 5px;
          font-size: 15px;
          font-weight: 600;
          width: 100%;
          color: #1f2d36;
          background-color: white;
          text-align: center;
        }
      }
    }
  }
}

.footer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 125px;

  &__header {
    background-color: #e8e6e5;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .footer-header {
      &__item {
        width: 162px;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: #64605d;

        h2,
        p {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }

      &__item-image {
        width: 85px;
        height: 60px;
        margin-bottom: 25px;
      }

      &__item-title {
        width: 100%;
        height: 18px;
        font-weight: 600;
        font-size: 16px;
      }

      &__item-text {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  &__copyright {
    background-color: black;
    width: 100%;
    height: 50px;
  }

  &__contact-media {
    height: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;

    .footer-contact {
      &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        &--top {
          height: 160px;
        }

        &--bottom {
          height: 340px;

          .footer-contact__info {
            margin-bottom: 9px;
            font-size: 14px;
            color: #ff5959;
          }
        }

        &--main {
          display: flex;
          align-items: center;
          height: 250px;
          border-top: 1px solid #bbb8b6;
          border-bottom: 1px solid #bbb8b6;
        }

        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 62px;

          p {
            margin: 0;
            padding: 0;
          }
        }
      }

      &__subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-and-checkbox {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3px;

          .footer-contact__privacy-terms {
            display: flex;
            align-items: center;
            gap: 12px;
          }
        }

        button {
          width: 300px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        [type="email"] {
          width: 300px;
          height: 40px;
        }
      }

      &__section-title {
        text-transform: uppercase;
        font-size: 14px;
        width: fit-content;
        height: 16px;
        margin-bottom: 15px;
      }

      &__media-link-container {
        // background-color: red;
        width: 32;
        height: 31px;
        display: flex;
        align-items: center;

        .footer-media-links-container__media-link {
          // background-color: white;
          padding-left: 2px;
          padding-right: 2px;
          height: 100%;
        }
      }
    }
  }

  &__copyright {
    background-color: #ff5959;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 14px;
  }
}

.section-title {
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 218px;
  font-size: 22px;
  margin-top: ($icon-size / 2) + 20px;
  margin-bottom: ($icon-size / 2);

  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-stretch: 100%;
  letter-spacing: 6px;
  font-weight: 900;
}

.main-content {
  margin-top: calc($icon-size / 2);
  padding-top: calc($icon-size / 4);
  height: fit-content;
  background-color: #f8f8f8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 125px;

  &::before {
    min-height: $icon-size;
    min-width: $icon-size;
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(0px - $icon-size / 2);
    left: 50%;
    margin-left: -$icon-size / 2;
    content: url("../../img/section-icons/Tarta@106x125.png");
    z-index: 1;
  }

  &__cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: ($icon-size / 2);
  }

  &__card {
    width: 325px;
    height: 136px;
    position: relative;

    .card__card-info {
      height: 76px;
      width: 170px;
      padding: 20px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      left: 0;
      bottom: 0;
      z-index: 2;
      color: #6c6964;

      h2 {
        font-size: 18px;
      }

      p {
        display: none;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 76px solid rgba(255, 255, 255, 0.8);
        border-right: 76px solid transparent;
        position: absolute;
        right: -76px;
        top: 0;
      }
    }

    &--first {
      background-image: url("../../img/main/fiestastematicas@325x136.png");
      img {
        display: none;
      }
    }
    &--seccond {
      background-image: url("../../img/main/fiestaspersonajes@325x136.png");
      img {
        display: none;
      }
    }
    &--third {
      background-image: url("../../img/main/accesoriosfiestas@325x136.png");
      img {
        display: none;
      }
    }
  }
}

.button {
  background-color: #ff5959;
  height: 57px;
  padding: 15px 30px;
  width: fit-content;
  color: white;
}

@media (min-width: 600px) {
  .banners {
    display: flex;
    justify-content: space-between;
    &__banner {
      &--main {
        @include banner(140px, 80px, #ff5959);
        order: -1;
      }
      &--secondary-one {
        @include banner($color: #619aae);
      }
      &--secondary-two {
        @include banner($color: #f5b436);
      }

      &:hover {
        height: 140px;
      }
    }
  }

  .header {
    width: $header-width;
    position: relative;
    top: 0;
    left: calc(50% - ($header-width / 2));

    margin-bottom: 180px;

    .main-nav {
      width: $header-width;
      justify-content: flex-end;

      .background {
        display: block;
      }

      &__item {
        &--desk {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          i {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          p {
            font-size: 13px;
            font-weight: 400;
          }
        }

        .fa-bars {
          color: #000;
        }

        &--mobile {
          display: none;
        }

        &--media {
          a {
            width: 39px;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .secondary-header {
      height: 280px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .header-logo-container {
        width: fit-content;

        &__image {
          background-image: url("../../img/logo/logo@300x70.png");
          width: 300px;
          height: 70px;
        }
      }

      .secondary-nav {
        display: flex;
      }
    }
  }

  .section-title {
    letter-spacing: 10px;
    font-size: 30px;
    width: 300px;
  }

  .main-content {
    &__cards-container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;
      width: 1080px;
      height: 615px;
      margin-bottom: 95px;

      .main-content__card {
        height: 300px;
        width: 715px;

        .card__card-info {
          height: 150px;
          width: 250px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          padding-right: 0;

          h2 {
            font-weight: 700;
            font-size: 24px;
          }

          p {
            display: block;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
          }

          &::after {
            right: -100px;
            border-bottom: 150px solid rgba(255, 255, 255, 0.8);
            border-right: 100px solid transparent;
          }
        }

        &--first {
          order: 1;
          background-image: none;

          img {
            display: block;
          }

          .card__card-info {
            left: calc(100% - 350px);
          }
        }
        &--seccond {
          order: 3;
          background-image: none;
          img {
            display: block;
          }
        }
        &--third {
          order: 2;
          height: 300px;
          width: 350px;
          display: flex;
          align-items: flex-start;
          background-image: none;
          img {
            display: block;
          }

          .card__card-info {
            bottom: calc(0px - (615px - 300px));
          }
        }
      }
    }
  }

  .brands {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .section-title {
      width: 300px;
      margin-top: 165px;
      letter-spacing: 10px;
      font-size: 30px;
      white-space: nowrap;
      text-align: center;
    }

    .brands-container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding-top: 67px;
      padding-bottom: 95px;
      justify-content: center;
      gap: 15px;
      width: 780px;

      &__brand {
        height: 75px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%) opacity(0.6);

        &:hover {
          filter: none;
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .footer {
    &__header {
      padding: 45px 0;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      max-height: max-content;
      gap: 30px;

      .footer-header__item {
        width: fit-content;

        &-title {
          display: flex;
          justify-content: center;
        }

        &-text {
          display: flex;
          justify-content: center;
        }
      }
    }

    &__contact-media {
      display: flex;
      flex-direction: row;
      height: fit-content;
      padding-top: 0;
      margin: 0 50px;

      .footer-contact__item {
        &--top {
          display: flex;
          align-items: flex-start;
        }

        &--main {
          display: flex;
          align-items: flex-start;
          border-right: 1px solid #bbb8b6;
          border-left: 1px solid #bbb8b6;
          border-top: none;
          border-bottom: none;
          height: 70%;
          padding: 0 50px;

          .footer-contact {
            &__subscribe {
              display: flex;
              flex-direction: row;
              width: fit-content;
              align-items: flex-start;

              .form-and-checkbox {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
              }

              .footer-contact__privacy-terms {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
              }

              .footer-subscribe__button {
                width: fit-content;
                margin-left: 10px;
              }
            }
          }
        }

        &--bottom {
          display: flex;
          align-items: flex-start;

          .footer-contact__info {
            display: flex;
            flex-direction: row;
            height: min-content;
            margin: 0;
            margin-bottom: 9px;
            gap: 12px;
            padding-left: 25px;
          }
        }
      }
    }
  }
}
