@import "scssDep/extends";
@import "scssDep/mixins";
@import "scssDep/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  border: none;
  padding: 0;
  background-color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

.banners,
.secondary-nav {
  display: none;
}

.container {
  padding: 0;
}

.banners {
  width: 232px;
  height: 140px;
  background-color: blue;
  top: 0;
  left: 20%;
  position: absolute;
}

.main-nav {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 5;

  &__item {
    width: 50px;
    min-width: 50px;
  }

  &__group {
    display: flex;
    justify-content: center;
    min-width: 150px;

    .main-nav-group__item {
      flex: 1;
      min-width: 50px;

      &--search {
        background-color: #bbb8b6;
        color: #fff;
      }

      &--cart {
        flex: 2;
        display: flex;
        min-width: 100px;

        .cart__item {
          min-width: 50px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .cart__item2 {
          background-color: #ff5959;
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
}

.header-logo-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  .header-logo-container__image {
    height: 50px;
    width: 276px;
  }
}

.footer {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 125px;

  &__header {
    background-color: brown;
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .footer-header {
      &__item {
        background-color: green;
        width: 162px;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__item-image {
        background-color: pink;
        width: 85px;
        height: 60px;
      }

      &__item-title {
        background-color: red;
        width: 100%;
        height: 18px;
      }

      &__item-text {
        background-color: yellow;
        width: 100%;
      }
    }
  }

  &__contact-media {
    background-color: coral;
    width: 100%;
    height: 750px;
  }

  &__copyright {
    background-color: black;
    width: 100%;
    height: 50px;
  }

  &__contact-media {
    background-color: yellow;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;

    .footer-contact {
      &__item {
        background-color: cyan;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        &--top {
          background-color: saddlebrown;
          height: 160px;
        }

        &--bottom {
          background-color: yellowgreen;
          height: 340px;
        }

        &--main {
          background-color: red;
          display: flex;
          align-items: center;
          height: 250px;
        }

        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 62px;

          p {
            margin: 0;
            padding: 0;
          }
        }
      }

      &__subscribe {
        display: flex;
        flex-direction: column;
      }

      &__section-title {
        background-color: darkblue;
        text-transform: uppercase;
        font-size: 14px;
        width: fit-content;
        height: 16px;
      }

      &__media-link-container {
        background-color: red;
        height: 38px;
        display: flex;
        align-items: center;

        .footer-media-links-container__media-link {
          background-color: white;
          padding-left: 2px;
          padding-right: 2px;
          height: 100%;
        }
      }
    }
  }

  &__copyright {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}

.main-content {
  margin-top: $icon-size / 2;
  height: fit-content;
  background-color: #f8f8f8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;

  &::before {
    min-height: $icon-size;
    min-width: $icon-size;
    background-color: green;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -$icon-size / 2;
    left: 50%;
    margin-left: -$icon-size / 2;
    content: url("example.png");
    z-index: 1;
  }

  .section-title {
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 218px;
    font-size: 22px;
    margin-top: ($icon-size / 2) + 20px;
    margin-bottom: ($icon-size / 2);

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-stretch: 100%;
    letter-spacing: 6px;
    font-weight: 900;
  }

  &__cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: ($icon-size / 2);
  }

  &__card {
    background-color: red;
    width: 325px;
    height: 136px;
    position: relative;

    .card__card-info {
      height: 76px;
      width: 170px;
      padding: 20px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      left: 0;
      bottom: 0;
      z-index: 2;
      color: #6c6964;

      h2 {
        font-size: 18px;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 76px solid rgba(255, 255, 255, 0.8);
        border-right: 76px solid transparent;
        position: absolute;
        right: -76px;
        top: 0;
      }
    }
  }
}

.button {
  background-color: #ff5959;
  height: 57px;
  padding: 15px 30px;
  width: fit-content;
  color: white;
}

@media (min-width: 600px) {
  .banners {
    display: flex;
  }
}
